
    <div class="ui primary ignored button">Simulate Loading</div>
    <div class="ui ignored divider"></div>
    <div class="ui three doubling stackable cards">
      <div class="ui card">
        <div class="image">
          <div class="ui placeholder">
            <div class="square image"></div>
          </div>
        </div>
        <div class="content">
          <div class="ui placeholder">
            <div class="header">
              <div class="very short line"></div>
              <div class="medium line"></div>
            </div>
            <div class="paragraph">
              <div class="short line"></div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <div class="ui disabled primary button">Add</div>
          <div class="ui disabled button">Delete</div>
        </div>
      </div>
    </div>
    <div class="ui ignored card">
      <div class="image">
        <img src="/images/avatar2/large/lindsay.png">
      </div>
      <div class="content">
        <a class="header">Lindsay</a>
        <div class="meta">
          <span class="date">Joined in 2013</span>
        </div>
        <div class="description">
          Primary Contact
        </div>
      </div>
      <div class="extra content">
        <div class="ui primary button">Add</div>
        <div class="ui button">Delete</div>
      </div>
    </div>
