<i class="andorra flag"><i>
<i class="uae flag"><i>
<i class="afghanistan flag"><i>
<i class="antigua flag"><i>
<i class="anguilla flag"><i>
<i class="albania flag"><i>
<i class="armenia flag"><i>
<i class="netherlands.antilles flag"><i>
<i class="angola flag"><i>
<i class="argentina flag"><i>
<i class="american.samoa flag"><i>
<i class="austria flag"><i>
<i class="australia flag"><i>
<i class="aruba flag"><i>
<i class="aland.islands flag"><i>
<i class="azerbaijan flag"><i>
<i class="bosnia flag"><i>
<i class="barbados flag"><i>
<i class="bangladesh flag"><i>
<i class="belgium flag"><i>
<i class="burkina.faso flag"><i>
<i class="bulgaria flag"><i>
<i class="bahrain flag"><i>
<i class="burundi flag"><i>
<i class="benin flag"><i>
<i class="bermuda flag"><i>
<i class="brunei flag"><i>