<div class="ui mini inline active loader"></div>
<div class="ui small inline active loader"></div>
<div class="ui inline active loader"></div>
<div class="ui large inline active loader"></div>

<div class="ui inline mini active text loader">
  Loading
</div>
<div class="ui inline small active text loader">
  Loading
</div>
<div class="ui inline active text loader">
  Loading
</div>
<div class="ui inline large active text loader">
  Loading
</div>

<div class="ui hidden clearing divider"></div>

<div class="ui indeterminate inline text active loader">
  Indeterminate
</div>

<div class="ui hidden clearing divider"></div>

<div class="ui segment">
  <div class="ui active inverted dimmer">
    <div class="ui loader"></div>
  </div>
  <br><br>
  <br><br>
  <br><br>
</div>

<div class="ui segment">
  <div class="ui active dimmer">
    <div class="ui loader"></div>
  </div>
  <br><br>
  <br><br>
  <br><br>
</div>
