<div class="scrolling menu">
  <div class="item" data-percent="100" data-value="en" data-english="English">
    English
    <span class="description">English</span>
  </div>
  <div class="item" data-percent="94" data-value="da" data-english="Danish">
    Danish
    <span class="description">dansk</span>
  </div>
  <div class="item" data-percent="94" data-value="es" data-english="Spanish">
    Spanish
    <span class="description">Español</span>
  </div>
  <div class="item" data-percent="34" data-value="zh" data-english="Chinese">
    Chinese
    <span class="description">简体中文</span>
  </div>
  <div class="item" data-percent="54" data-value="zh_TW" data-english="Chinese (Taiwan)">
    Chinese (Taiwan)
    <span class="description">中文 (臺灣)</span>
  </div>
  <div class="item" data-percent="79" data-value="fa" data-english="Persian">
    Persian
    <span class="description">پارسی</span>
  </div>
  <div class="item" data-percent="41" data-value="fr" data-english="French">
    French
    <span class="description">Français</span>
  </div>
  <div class="item" data-percent="37" data-value="el" data-english="Greek">
    Greek
    <span class="description">ελληνικά</span>
  </div>
  <div class="item" data-percent="37" data-value="ru" data-english="Russian">
    Russian
    <span class="description">Русский</span>
  </div>
  <div class="item" data-percent="36" data-value="de" data-english="German">
    German
    <span class="description">Deutsch</span>
  </div>
  <div class="item" data-percent="23" data-value="it" data-english="Italian">
    Italian
    <span class="description">Italiano</span>
  </div>
  <div class="item" data-percent="21" data-value="nl" data-english="Dutch">
    Dutch
    <span class="description">Nederlands</span>
  </div>
  <div class="item" data-percent="19" data-value="pt_BR"  data-english="Portuguese">
    Portuguese
    <span class="description">Português(BR)</span>
  </div>
  <div class="item" data-percent="17" data-value="id" data-english="Indonesian">
    Indonesian
    <span class="description">Indonesian</span>
  </div>
  <div class="item" data-percent="12" data-value="lt" data-english="Lithuanian">
    Lithuanian
    <span class="description">Lietuvių</span>
  </div>
  <div class="item" data-percent="11" data-value="tr" data-english="Turkish">
    Turkish
    <span class="description">Türkçe</span>
  </div>
  <div class="item" data-percent="10" data-value="kr" data-english="Korean">
    Korean
    <span class="description">한국어</span>
  </div>
  <div class="item" data-percent="7"  data-value="ar" data-english="Arabic">
    Arabic
    <span class="description">العربية</span>
  </div>
  <div class="item" data-percent="6"  data-value="hu" data-english="Hungarian">
    Hungarian
    <span class="description">Magyar</span>
  </div>
  <div class="item" data-percent="6"  data-value="vi" data-english="Vietnamese">
    Vietnamese
    <span class="description">tiếng Việt</span>
  </div>
  <div class="item" data-percent="5"  data-value="sv" data-english="Swedish">
    Swedish
    <span class="description">svenska</span>
  </div>
  <div class="item" data-precent="4"  data-value="pl" data-english="Polish">
    Polish
    <span class="description">polski</span>
  </div>
  <div class="item" data-percent="6"  data-value="ja" data-english="Japanese">
    Japanese
    <span class="description">日本語</span>
  </div>
  <div class="item" data-percent="0"  data-value="ro" data-english="Romanian">
    Romanian
    <span class="description">românește</span>
  </div>
</div>